#
# Filename:    sparten3e500kpq208c4.ucf
#
# Description: Defines the clock input pin, clock speed, and
#              non-memory mapped ports for the
#              Sparten3e500kpq208c4
#

NET "sys_clk" LOC = "P184";
NET "sys_clk" TNM_NET = "hwcosim_sys_clk";
TIMESPEC "TS_hwcosim_sys_clk" = PERIOD "hwcosim_sys_clk" 50 MHz HIGH 50%;

# Non-memory mapped port definitions.
NET Pmod2(0) LOC = "P22"; # pmod2 contingent
NET Pmod2(1) LOC = "P24"; # pmod2 contingent
NET Pmod2(2) LOC = "P28"; # pmod2 contingent
NET Pmod2(3) LOC = "P30"; # pmod2 contingent
NET Pmod2(4) LOC = "P18"; # pmod2 contingent
NET Pmod2(5) LOC = "P15"; # pmod2 contingent
NET Pmod2(6) LOC = "P11"; # pmod2 contingent
NET Pmod2(7) LOC = "P8"; # pmod2 contingent
