NET "axi_uart16550_0_Sin_pin"       LOC=T20 | IOSTANDARD=LVCMOS33; #IO_L15N_T2_DQS_34 #pin2
NET "axi_uart16550_0_Sout_pin"      LOC=U20 | IOSTANDARD=LVCMOS33; #IO_L15P_T2_DQS_34 #pin1
NET "axi_iic_0_Sda_pin"             LOC=V20 | IOSTANDARD=LVCMOS33;
NET "axi_iic_0_Scl_pin"             LOC=W20 | IOSTANDARD=LVCMOS33;
NET "axi_iic_1_Sda_pin"             LOC=W18 | IOSTANDARD=LVCMOS33;
NET "axi_iic_1_Scl_pin"             LOC=W19 | IOSTANDARD=LVCMOS33;
#Ledek
NET "axi_gpio_LED4_GPIO_IO_O_pin<3>" LOC=D18 | IOSTANDARD=LVCMOS33;
NET "axi_gpio_LED4_GPIO_IO_O_pin<2>" LOC=G14 | IOSTANDARD=LVCMOS33;
NET "axi_gpio_LED4_GPIO_IO_O_pin<1>" LOC=M15 | IOSTANDARD=LVCMOS33;
NET "axi_gpio_LED4_GPIO_IO_O_pin<0>" LOC=M14 | IOSTANDARD=LVCMOS33;


NET "axi_gpio_Switch_GPIO_IO_pin<0>" LOC=G15 | IOSTANDARD=LVCMOS33;
NET "axi_gpio_Switch_GPIO_IO_pin<1>" LOC=P15 | IOSTANDARD=LVCMOS33;
NET "axi_gpio_Switch_GPIO_IO_pin<2>" LOC=W13 | IOSTANDARD=LVCMOS33;
NET "axi_gpio_Switch_GPIO_IO_pin<3>" LOC=T16 | IOSTANDARD=LVCMOS33;


NET "SpiSpartan_SCK_O_pin"  LOC=H15 | IOSTANDARD=LVCMOS33;
NET "SpiSpartan_MISO_I_pin" LOC=J15 | IOSTANDARD=LVCMOS33;
NET "SpiSpartan_MOSI_O_pin" LOC=W16 | IOSTANDARD=LVCMOS33;
NET "SpiSpartan_SS_O_pin[0]"LOC=V12 | IOSTANDARD=LVCMOS33;